<div>
    <div>
        <div class="col-md-10" style = "margin-top: 22%;">
            <div class="row">
               <div class = "col-md-2"> </div>
                <div class="col-md-5">
                    <div style = "float:right"><button class="btn btn-primary" (click)="fileUpload()">&nbsp;&nbsp;Upload&nbsp;&nbsp;</button></div>
                </div>
                <div class="col-md-5">
                    <div ><button class="btn btn-primary" (click)="download()">Download</button></div>
                </div>
            </div>
        </div>
    </div>
</div>